
@media (max-width: 820px) {
    .mobile-btn {
        display: flex;
    }

    .nav {
        position: fixed;
        right: -100%;
        top: 0;
        width: 80%;
        height: 100%;
        background-color: hotpink;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 30px;
        font-size: 30px;
        transition: .3s ease-in-out;
    }

    .show-nav {
        right: 0;
    }
}