* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}

ul {
    list-style: none;
}

section {
    padding: 200px 0;
    height: 1000px;
}

header {
    position: fixed;
    width: 100%;
    padding: 20px 0;
    background-color: hotpink;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__nav img {
    width: 100px;
}

.nav {
    display: flex;
    column-gap: 30px;
    font-size: 20px;
}

.nav li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

